<div class="row">
  <div class="col my-3 d-flex justify-content-between align-items-center">
    <button class="btn btn-primary"
      type="button"
      routerLink="../game-setup">
      Go back to main menu
    </button>
    <h2 class="text-right m-0">turns {{game?.turns}}{{game?.difficulty.maxTurns && '/' + game.difficulty.maxTurns}}</h2>
  </div>
</div>
<div class="row flex-grow-1">
  <div class="col d-flex">
    <app-board></app-board>
    <app-ships-display [ships]="game?.ships"></app-ships-display>
  </div>
</div>

